<ion-view view-title="Contact">


 <!-- <ion-content class="padding">


   <div class="card" ng-init="loadImages()">


   <div class="row" ng-repeat="image in images" ng-if="$index % 4 === 0">
        <div class="col col-25" ng-if="$index < images.length">
            <img ng-src="{{images[$index].src}}" width="100%" />
        </div>
        <div class="col col-25" ng-if="$index + 1 < images.length">
            <img ng-src="{{images[$index + 1].src}}" width="100%" />
        </div>
        <div class="col col-25" ng-if="$index + 2 < images.length">
            <img ng-src="{{images[$index + 2].src}}" width="100%" />
        </div>
        <div class="col col-25" ng-if="$index + 3 < images.length">
            <img ng-src="{{images[$index + 3].src}}" width="100%" />
        </div>
    </div>
    </div>  
    <div class="card" ng-init="login()">

     </div>


 </ion-content> -->


<ion-content class="has-header padding">
  <div class="card">
    <div class="item item-text-wrap text-center">
     <i class="icon ion-android-contacts"></i> Page de connection
    </div>
  </div>
  <button class="button button-block button-positive" ng-click="loginFacebook()"><i class="icon ion-social-facebook calm"></i> - Login with Facebook</button>
  <button class="button button-block button-stable" ng-click="loginGoogle()"><i class="icon ion-social-google assertive"></i> - Login with Google</button>
  <div class="list">
    <label class="item item-input">
      <span class="input-label">Email</span>
      <input type="text" ng-model="user.email">
    </label>
    <label class="item item-input">
      <span class="input-label">Password</span>
      <input type="password" ng-model="user.password">
    </label>
   
    <button class="button button-block button-clear button-energized text-center" ng-click="modal.show()">
         mot de passe oublié ??
    </button>  
           
    <button class="button button-block button-positive" ng-click="signupEmail(user)">
            Sign Up
    </button>           



  
      <button class="button button-block button-energized" ng-click="logOut()">
            Se deconnecter
      </button>


      <div class="row">
        <h1 ng-show="showmyuser"> bonjour cher  user
          
        </h1>
        <h1 ng-show="nouser"> pas d'utilisateur connecté  
        </h1>
      </div>
  </div>


  <script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">Mot de passe oublié</h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
       
    </ion-header-bar>
    <ion-content class="padding">
      <div class="card">
        <div class="item item-text-wrap">
          Veuillez rentrer votre email, un lien de réinitialisation vous sera envoyé à cette adresse
        </div>
      </div>
      <div class="list">
            <label class="item item-input">
              <span class="input-label">Email</span>
              <input ng-model="user.email" type="text">
            </label>
            <button class="button button-full button-positive" ng-click="resetPassword(user)">Reset</button>
      </div>
    </ion-content>
  </ion-modal-view>
</script>


</ion-content>




</ion-view>