<ion-view view-title="Chats">

  <ion-content class="padding card" ng-controller="ImageController">
   <br><br><br>  
    <button class="button button-full button-energized padding" ng-click="addMedia()">
      take photo
    </button>
    
    <br><br>
    <ion-scroll direction="x" style="height:200px; min-height: 200px; overflow: scroll; white-space: nowrap;">
      <img ng-repeat="image in images" ng-src="{{urlForImage(image)}}" style="height:200px; padding: 5px 5px 5px 5px;"/>
    </ion-scroll>
  </ion-conten>
</ion-view>
