<ion-view view-title="Dashboard">
  <ion-content class="padding">
   <h1>HOME PAGE</h1>


   <div class="list card">

   <div class="row">
      <div class="col col-50 "> 
       <a href="#" class="item item-icon-left assertive fisrt_bloc_link">
        <i class="icon ion-android-camera"></i>
        Take Photo
      </a></div>
      <div class="col col-50 ">
        <a href="#/tab/chats" class="item item-icon-left second_bloc_link balanced">
            <i class="icon ion-images"></i>
            Gallerie
        </a>
      </div></div>

<div class="row">
      <div class="col col-50 "> 
         <a href="#/tab/account" class="item item-icon-left royal third_bloc_link">
          <i class="icon ion-settings"></i>
          Settings
        </a>
      </div>
      <div class="col col-50 ">
        <a href="#/tab/mytab" class="item item-icon-left forth_bloc_link">
          <i class="icon ion-printer"></i>
          Test
        </a>
      </div>
      
    </div>

<!-- 
	   	<a href="#" class="item item-icon-left assertive">
	   		<i class="icon ion-android-camera"></i>
	   		Take Photo
	   	</a>

	   	<a href="#" class="item item-icon-left">
	   		<i class="icon ion-images"></i>
	   		Gallerie
	   	</a>

	   	<a href="#" class="item item-icon-left assertive">
	   		<i class="icon ion-settings"></i>
	   		Settings
	   	</a>

	   	<a href="#" class="item item-icon-left">
	   		<i class="icon ion-printer"></i>
	   		Test
	   	</a> -->

   </div>
  </ion-content>
</ion-view>
