<ion-view view-title="Dashboard">
  <ion-content class="padding">
  
   <div class="list card">

   <div class="row">
      <div class="col col-50 "> 
       <a href="#" class="item item-icon-left assertive fisrt_bloc_link">
        <i class="icon ion-android-camera"></i>
        Take Photo
      </a></div>
      <div class="col col-50 ">
        <a href="#/tab/chats" class="item item-icon-left second_bloc_link balanced">
            <i class="icon ion-images"></i>
            Gallerie
        </a>
      </div></div>

<div class="row">
      <div class="col col-50 "> 
         <a href="#/tab/account" class="item item-icon-left royal third_bloc_link">
          <i class="icon ion-settings"></i>
          Settings
        </a>
      </div>
      <div class="col col-50 ">
        <a href="#/tab/mytab" class="item item-icon-left forth_bloc_link">
          <i class="icon ion-printer"></i>
          Test
        </a>
      </div>
      
    </div>

   </div>
  


   <div class="card" ng-init="loadImages()">


<!--    <div class="row" ng-repeat="image in images" ng-if="$index % 4 === 0">
        <div class="col" ng-if="$index < images.length">
            <img ng-src="{{images[$index].src}}" width="100%" />
        </div>
        <div class="col col-25" ng-if="$index + 1 < images.length">
            <img ng-src="{{images[$index + 1].src}}" width="100%" />
        </div>
    </div> -->

    <div class="row responsive-md">
       <div class="col" ng-repeat="image in images">
            <img ng-src="{{image.src}}" width="100%" />
            <ion-item  class="item-icon-right" nav-clear menu-close  ng-click="shareAnywhere()">
             Share<i class="icon icon-right ion-chevron-right ion-accessory"></i> 
            </ion-item>
       </div>
    </div>
</div>

 </ion-content>
</ion-view>
